/* Project Lumiere uses TailwindCSS https://tailwindcss.com/ for website styling */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-8 lg:px-14;
  }

  .gradient-canvas {
    @apply w-full h-full;
    --gradient-color-1: #ef008f;
    --gradient-color-2: #6ec3f4;
    --gradient-color-3: #7038ff;
    --gradient-color-4: #ffba27;
  }

  .sticky-transparent-navbar {
    @apply sticky top-0 opacity-80;
  }
}
